{ 
    
 margin: 0; 
 padding: 0;
 box-sizing: border-box; }
body {background: rgb(126, 89, 118); font: 1.8em Helvetica, Arial; }
form { background: rgb(233, 210, 240); padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 80%; margin-right: .8%; }
form #button { color:rgb(240, 164, 24); background: rgb(10, 12, 9); border: none; padding: 10px;  width: 9%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: rgb(190, 207, 214); }
#notifyUser { position: fixed; bottom: 42px; width: 100%; }

